.d3-tip {

  top: 184.273px;
  background: rgba(25, 25, 25, 0.8);
  pointer-events: none;
  box-sizing: border-box;
  left: -37.6667px;
  text-overflow: ellipsis ;
  padding: 20px;
  color: white;
  width: auto;
  font-weight: bolder;
  font-size: 20px

}
div.title {
  width: 800px;
  height: 150px;
  text-align: center;
  font-size: 32px;
  margin: 0 200px;
font-weight: bold;
}

body {
/*background: rgba(176, 216, 255, 0.5)*/
background: rgb(232,227,224)
}

.axis {
  stroke-width: 5px;
  font-weight: bolder;
  color: inherit;
  fill: white;

}

g {
  font-size: 16;
color: white

}
circle:hover {
  fill: red
}
